@use "../../Style/" as *;

.top_dashboard {
    margin: 15px 0;
}
.dashboard {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    // width: 885px;
    // height: 45vh;
    // padding: 10px 3px;

    &__card_add {
        .card {
            margin: 0 40px 0 0;
                width: 151px;
                height: 231px;
                border-radius: 10px;
                margin-bottom: 10px;
                border: 1px dashed #7F7F87;
        }
    }

    
    &__card_list {
        margin: 0 40px 0 0;
        width: 151px;
        height: 231px;
        flex-shrink: 0;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 0px rgba(3, 3, 3, 0.30);
        margin-bottom: 10px;

        .card {
            padding: 20px 0;
            text-align: center;
            line-height: 40px;

            &__card_total {
                p {
                    &:nth-child(1) {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 100;
                    }

                    &:nth-child(2) {
                        font-size: 55px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 65px;
                        color: $text-white;
                    }
                }
            }

            &__card_footer {
                position: relative;
                top: 66px;
                border-radius: 0px 0px 10px 10px;
                background: rgba(238, 238, 246, 0.08);
            }
        }
    }

    &__add_tools {
        position: relative;
        top: 56px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $text-light;
        transition: .1s ease-in-out;

        &:hover {
            color: $text-white;
        }
    }
}

.overview {
    margin-top: 20px;
    &__chart {
        width: 100px;
    }
}