@use "../../Style/" as *;

.login-top {
    display: flex;
    justify-content: center;
    align-items: center;

    .login {
        max-width: 1000px;
        width: 100vw;
        display: flex;
        border-radius: 5px;
        background-color: $sidebar-color;

        &__page {
            padding: 5% 10% 5% 10%;

        }

        &__form {
            .form_top {
                margin-bottom: 4%;

                img {
                    max-width: 100%;
                    width: 7vw;
                }
            }

            .form_text {
                h1 {
                    font-size: 2.5vw;
                }

                p {
                    color: $text-dark;
                    margin-top: 2%;
                    margin-bottom: 2%;
                    font-size: 1.1vw;
                }
            }

            .form_forget {
                text-align: center;
                margin-bottom: 4%;

                a {
                    color: $text-white;
                    font-size: 1.2vw;
                    font-weight: 300;

                    &:hover {
                            color: #C8CEDE;
                            ;
                        }
                }
            }

            .form_signup {
                text-align: center;
                margin-top: 6%;

                a {
                    color: $text-white;
                    font-size: 1vw;
                    font-weight: 600;
                    padding: 8px 25px;
                    border-radius: 100px;
                    border: 1px solid $text-white;
                    transition: .1s ease;

                    &:hover {
                        background-color: $text-white;
                        color: $body-bg;
                    }
                }
            }


            form {
                .form_group {
                    margin: 5% 0 0 0;
                    display: flex;
                    flex-direction: column;


                }

               
            }
        }

    }

    .login__welcome {
        background-image: url("../../Assets/bg-login.webp");
        padding: 6% 5% 0 5%;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50%;

        .welcome_text {
            color: $body-bg !important;
            text-align: center;
            margin-bottom: 50px;

            span {
                font-size: 1.5vw;
                font-weight: 300;
            }

            h1 {
                font-size: 2.5vw;
            }
        }

        .welcome_img {
            img {
                margin: auto;
                max-width: 100%;
                width: 30vw;
                display: flex;
            }
        }
    }
}