@use "../../Style/" as *;

.contain{
  h1{
    margin-bottom: 40px;
  }
}
.container-card{
  background-color: blue;
  padding: 25px 0;
  width: 100%;
    nav{

    }
    ul li{
      display: inline;
      padding: 10px 15px;
      background-color: red;
      margin: 0 10px;
    }
}